body{
  width: 100%;
  text-align: center;
  margin: 0;
}

main{
  padding:64px;
}

h1{
  font-family: Dosis;
  font-size: 32px;
  color: #3F3D56;
}

h1 span{
  color: #EE24FF;
}

p{
  color: #828282;
  font-family: 'Open Sans';
  font-size: 15px;
}

#dark{
  color: #3F3D56;
}


ul{
  display: flex;
  list-style: none;
  gap: 42px;
}

nav{
  color: #3F3D56;
  font-family: 'Open Sans';
  font-size: 15px;
}

span, a {
  font-weight: bold;
  text-decoration: none;
  color: #3F3D56;
}

.footer{
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 700;
}

.footer a + a {
  margin-left: 42px;
}

.line {
  width: 391px;
  height: 0px;
  margin: 0 auto 8px;
  border: 1px solid #eceff2;
}

#wave {
  margin-top: 40px;
  width: 100%;
  bottom: 0px;
  right: 0px;
}


